[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/glennrp/libpng
