[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/libpng"]
	path = external/libpng
	url = http://github.com/glennrp/libpng
[submodule "external/estl"]
	path = external/estl
	url = http://github.com/LuxAtrumStudio/estl
